<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>produk</ion-title>
    <ion-buttons slot="end">
      <ion-searchbar placeholder="Cari Produk"  type="text" [(ngModel)]="keyword"></ion-searchbar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cari()" color="dark">
        <ion-icon slot="end"></ion-icon>
        Cari
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let item of produk">
      <ion-thumbnail slot="start">
        <img alt="{{item.title}}" src="{{item.thumbnail}}" />
      </ion-thumbnail>
      <ion-label>
        {{item.title}}
      </ion-label>
      <ion-button (click)="detail(item.id)" slot="end">
        View
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
